name: lint-on-pr

on:
  pull_request:
    branches: [ "main" ]

permissions:
  security-events: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: advanced-security/python-lint-code-scanning-action@v1
      with:
        linter: pylint
